# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
Data Structures/Data Structures pt.1/Sorting/insertion_rec.c
Data Structures/Data Structures pt.1/Sorting/game
Data Structures/Data Structures pt.1/MergeSort/arquivos/closest_pair
Data Structures/Data Structures pt.1/Recursão/arquivos/sudoku.c
Data Structures/Data Structures pt.1/QuickSorting/arquivos/quick-sort
Data Structures/Data Structures pt.1/QuickSorting/arquivos/quick-random
Data Structures/Data Structures pt.1/QuickSorting/arquivos/quick-onerec.c
Data Structures/Data Structures pt.1/QuickSorting/arquivos/quick-onerec
Data Structures/Data Structures pt.1/QuickSorting/arquivos/quick-nuts-bolts.c
Data Structures/Data Structures pt.1/QuickSorting/arquivos/quick-nuts-bolts
Data Structures/Data Structures pt.1/QuickSorting/arquivos/quick-median.c
Data Structures/Data Structures pt.1/QuickSorting/arquivos/quick-median
Data Structures/Data Structures pt.1/QuickSorting/arquivos/quick-insertion.c
Data Structures/Data Structures pt.1/QuickSorting/arquivos/quick-insertion
Data Structures/Data Structures pt.1/QuickSorting/arquivos/quick-hoare.c
Data Structures/Data Structures pt.1/QuickSorting/arquivos/quick-hoare
Data Structures/Data Structures pt.1/QuickSorting/arquivos/quick-find
Data Structures/Data Structures pt.1/QuickSorting/arquivos/qsort-lib.c
Data Structures/Data Structures pt.1/QuickSorting/arquivos/qsort-lib
Data Structures/Data Structures pt.1/MergeSort/arquivos/closest_pair.c
Data Structures/Data Structures pt.1/MergeSort/arquivos/merge-debug
Data Structures/Data Structures pt.1/MergeSort/arquivos/merge-debug.c
Data Structures/Data Structures pt.1/MergeSort/arquivos/merge-inplace
Data Structures/Data Structures pt.1/MergeSort/arquivos/merge-inplace.c
Data Structures/Data Structures pt.1/MergeSort/arquivos/merge-insert
Data Structures/Data Structures pt.1/MergeSort/arquivos/merge-insert.c
Data Structures/Data Structures pt.1/MergeSort/arquivos/merge-inv
Data Structures/Data Structures pt.1/MergeSort/arquivos/merge-inv.c
Data Structures/Data Structures pt.1/MergeSort/arquivos/merge-maximal
Data Structures/Data Structures pt.1/MergeSort/arquivos/merge-maximal.c
Data Structures/Data Structures pt.1/MergeSort/arquivos/merge-sort
Data Structures/Data Structures pt.1/MergeSort/arquivos/merge-sum
Data Structures/Data Structures pt.1/MergeSort/arquivos/merge-sum.c
Data Structures/Data Structures pt.1/MergeSort/arquivos/merge-tau
Data Structures/Data Structures pt.1/MergeSort/arquivos/merge-tau.c
Data Structures/Data Structures pt.1/OrdenaLinear/arquivos/counting-sort-char
Data Structures/Data Structures pt.1/OrdenaLinear/arquivos/counting-sort-char.c
Data Structures/Data Structures pt.1/OrdenaLinear/arquivos/counting-sort-int
Data Structures/Data Structures pt.1/OrdenaLinear/arquivos/counting-sort-int.c
Data Structures/Data Structures pt.1/OrdenaLinear/arquivos/livros/livro_pt.txt
Data Structures/Data Structures pt.1/OrdenaLinear/arquivos/process-interval
Data Structures/Data Structures pt.1/OrdenaLinear/arquivos/process-interval.c
Data Structures/Data Structures pt.1/OrdenaLinear/arquivos/radix-sort-int
Data Structures/Data Structures pt.1/OrdenaLinear/arquivos/radix-sort-int.c
